body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
  overflow: hidden;
  font-family: "Borel", cursive;
  font-family: "Roboto Condensed", sans-serif;
  /* font-weight: 200; */
}
.spotify {
  display: flex;
  /* flex-direction: column; */
  height: 100vh;
  padding: 0.5rem;
}
.side_bar {
  background-color: #000;

  width: 340px;
  border-radius: 1rem;
  margin-right:.75rem ;
}
.main_content {
  background-color: red;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  
  background-color: #121212;
}
a {
  text-decoration: none;
  color: white;
}
.nav {
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
  padding: 0.5rem 0.75rem;
}
.player {
  background-color: black;
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 72px;
}
.nav_option {
  line-height: 2.5rem;
  opacity: 0.7;
  margin-left: 1rem;
  transition: 0.3s;
}
.nav_option:hover {
  opacity: 1;
}
.nav_option i {
  font-size: 1.25rem;
}
.nav_option a {
  font-size: 1.1rem;
  margin-left: 1rem;
}
.library {
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.75rem;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .lib_option i,a{
    margin-left: 1rem;
    margin-right: 1rem;
} */
.lib_icon {
  font-size: 1.2rem;
  display: flex;
}
.lib_icon i {
  opacity: 0.5;
  margin-right: 1rem;
  transition: 0.3s;
}
.lib_icon i:hover {
  opacity: 1;
}
.box {
  height: 8rem;
  background-color: #232323;
  margin: 0.75rem 0 0.75rem 0;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
}
.box .box_p1 {
  font-size: 1.2rem;
  font-weight: 600;
}
.box .box_p2 {
  font-size: 0.85rem;
}
.badge {
  border-radius: 10px;
  border: none;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  width: fit-content;
}
.sticky_nav{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  align-items: center;
  padding: 1rem 0 1rem 0;
  background-color: #121212;
}
.sticky_icon{
  margin-left: .75rem;
}
.sticky_icon i{
  margin-left: 1rem;
}
.sticky_badge{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_item{
  margin-right: 1rem;
}
.dark_button {
  background-color: #000;
  color: white;
  font-weight: 600;
} 
@media(max-width:1000px){
  .hide{
    display: none;
  }
}
.cards{
  padding: 1.5rem;
  
}
.card_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.card{
  /* height: 240px; */
  /* width: 15%;
   */
   width: 170px;
  background-color: rgba(31, 30, 29, .4);
  border-radius: .25rem;
  transition: .3s;
  padding: 1rem;
}
.card:hover{
  background-color: #232323;
  border-radius: .5rem;
}
.card img{
  height: 60%;
  width: 100%;
  border-radius:.4rem:
}
.heading{
  margin: 3.5rem 0 2rem 0;
}
.card_containerr{
  display: flex;
  
}
.card_containerr .card{
  margin-left: 2rem;
}
@media(max-width:1200px){
  .card_container{
    flex-wrap: wrap;
  }
}
/* @media(max-width:400){
  .side_bar{
    display: none;
  }
  .player{
    display: none;
  }
} */
.footer{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line{
  width: 90%;
  height: 30%;
  border-top: 1px solid white;
  opacity: .5;
}

.player{
  
  display: flex;
  justify-content: space-between;
  align-items: center; 
} 
.iconsp{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner_icon i{
  margin:0 .8rem 0 .8rem ;
}
.inner_icon{
  display: flex;
  justify-content: center;
  align-items: center ;
}

.control{
  width: 25%;
}
.album{
  width: 25%;
}
.iconsp i{
  opacity: .7;
  font-size: 1.2rem;
}

.iconsp i:hover{
  opacity: 1;
}
.playback_bar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress{
  width: 70%;
  cursor: pointer;
}
/* .name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(bgtext.avif);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip:text ;
  color: transparent;
} */
/* .sandy {
  font-size: 50px;
  font-weight: 1000;
  padding: 10px;
  
} */
.sanpa{
  background-image: url(bg.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip:text ;
  color: transparent;

}
.san {
  background-image: ;
  font-size: 50px;
  font-weight: 1000;
  padding: 10px;
  
}
